# Core Django
Django>=4.0,<5.0
djangorestframework
python-decouple

# Database
psycopg2-binary>=2.9

# Server
gunicorn==20.1.0

# Testing
coverage
factory-boy

# Cache (optional for production)
redis
django-redis

# Development Tools
black
flake8
isort
pre-commit
ipython
ipdb
django-extensions
django-debug-toolbar
